
.footer {
	color: #7f8c8d;
	margin: 0;
	padding: 15px 0;
	text-align: center;
	background: #2d3e50;
	font-size: 14px;
}
.container{
	margin-right:auto;
	margin-left:auto;
	background: #eee;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 20px;
}
.header-logo{
	margin-right:auto;
	margin-left:auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 20px;
}
@media (min-width:768px){
	.container{
		width:750px
	}
}
@media (min-width:992px){
	.container{
		width:970px
	}
}
@media (min-width:1200px){
	.container{
		width:1170px
	}
}
.container-fluid{
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px;
	margin-top: 10px;
}
.get {
	background: url("Administration _Building--night_view.jpg");
	background-size: 100% 100%;
	width: 100%;
	color: #000;
	text-align: center;
	padding: 120px 0px;
}
@media only screen and (max-width: 640px){
	.get{
		padding: 10px 0px;
	}
}
.get-title {
	font-size: 300%;
    /*border: 5px solid ;#eee*/
	padding: 20px;
	display: inline-block;
	color: #fff;
	text-shadow: 2px 2px #000;
}

.get p.time {
	font-size: 2em;
    color: #fff;
    font-weight: bold;
	text-shadow: 2px 2px #000;

}

.get p.place {
	color: #fff;
    font-size: 120%;
    font-weight: bold;
}

.am-article-title{
	font-weight: bold
}